/*.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  font-variation-settings: "wdth" 100;
  color: #2f80ed;
}
.noto-serif1 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #000000;
}
.noto-serif2 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #fff;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 44px;
  font-style: normal;
  line-height: 52px;
  color: #ffffff;
}
.inter1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
   */
