.footer {
  box-sizing: border-box;
  color: #fff;
  background-color: #2240b4;
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__social {
  align-items: flex-start;
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__column-link {
  color: white;
  display: flex;
  align-items: center;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__copyright {
  margin: 108px 0 0;
  text-align: center;
  color: #fff;
}
