.header {
  background-image: url("./images/background_header");
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.header__content {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  max-width: 635px;
  margin-top: 128px;
}

.header__description {
  font-size: 20px;
  line-height: 30px;
  max-width: 515px;
  margin-top: 32px;
}

.header__image {
  max-width: 636px;
  height: auto;
  display: block;
  margin-left: auto;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}
