.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  padding: 100px 0 140px;
  background-size: cover;
}
.recipes__title {
  max-width: 500px;
  position: relative;
  left: 80px;
}
.recipes__subtitle {
  padding-top: 24px;
  max-width: 438px;
  position: relative;
  left: 80px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 20px;

  padding-top: 80px;
}
.recipes__video-item {
  max-width: 480px;
  height: 273px;
}
.recipes__video-caption {
  padding-top: 24px;
  margin-bottom: 215px;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 44px;
  font-style: normal;
  line-height: 52px;
  color: #ffffff;
}
.inter1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
