.reservation {
  background-color: #d9e7ff;
  padding: 100px 80px;
  background-image: url("./images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 0 80px;
  margin-left: auto;
  margin-right: auto;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
}
